
<body>
    <br>
    <h1 class="title">Watch the video to see how our page is working</h1>
    <br>
    <div class="video-container">
        <iframe width="640" height="360" href="acebook-rails-soda/app/assets/video/acebook.mp4" frameborder="0" allowfullscreen></iframe>
    </div>
</body>

